<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">ПрессРу</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">О сайте</a>
            {% if perms.news_app.add_news %}
                <a class="nav-item nav-link" href="{% url 'create-post' %}">Добавить статью</a>
            {% endif %}
            <div style="position: absolute; right: 0; padding-right: 175px">
                <form class="form-inline" action={% url 'news-search' %} method="get">
                    <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div class="dropdown" style="position: absolute; right: 0; padding-right: 30px">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Профиль
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% if request.user.is_authenticated %}
                        <a class="dropdown-item" href="#">Личный кабинет</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
                    {% else %}
                        <a class="dropdown-item" href="{% url 'register' %}">Регистрация</a>
                        <a class="dropdown-item" href="{% url 'login' %}">Авторизация</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>