{% if page_obj.has_other_pages %}
    <nav aria-label="Page navigation example">
        <ul class="pagination" style="display:table; margin:auto;">
            {% for page in paginator.page_range %}
                {% if page_obj.number == page %}
                    <li class="page-item disabled" style="display:table-cell; text-align:center;">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="page-item" style="display:table-cell; text-align:center;">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    <br>
{% endif %}