{% extends 'news_app/base.html' %}

{% block title %}
    ПрессРу: Добавить статью
{% endblock title %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% for f in form %}
            <div class="form-group">
                {% if f.label != 'Опубликовать' %}
                    <label for={{ f.id_for_label }}>{{ f.label }}</label>
                    {{ f }}
                    <div class="form-error">{{ f.errors }}</div>
                {% else %}
                    {{ f }}
                    <label class="form-check-label" for={{ f.id_for_label }}>{{ f.label }}</label>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Создать статью</button>
    </form>
{% endblock content %}