{% extends 'news_app/base.html' %}

{% block title %}
    {{ category.name }} - Новости ПрессРу
{% endblock title %}

{% block content %}
    {% if perms.news_app.change_news and perms.news_app.delete_news %}
        <div>
            <form method="POST" action="{% url 'delete-post' post.slug %}" style="margin: 0">
                {% csrf_token %}
                <a href="{% url 'update-post' post.slug %}" class="btn btn-secondary">Редактировать</a>
                <input class="btn btn-danger" type="submit" value="Удалить">
            </form>
        </div>
        <br>
    {% endif %}
    
    <div class="card">
        <h5 class="card-header">Категория: {{ post.category }}</h5>
        <div class="card-body">
            <h5 class="card-title"> {{ post.title }}</h5>
            <p class="card-text">{{ post.content }}</p>
        </div>
        <div class="card-footer text-muted">
            {{ post.created_at|date:"Y-m-d H:i:s" }}
        </div>
    </div>
    <br>

    {% include 'news_app/inc/comment_form.html' %}

    {% for comment in comments %}
        <br>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ comment.username }}</h5>
                <p class="card-text">{{ comment.content }}</p>
                <hr>
                <p class="card-text">{{ comment.created_at }}</p>
            </div>
        </div>
    {% endfor %}
    <br>
{% endblock content %}