{% extends 'news_app/base.html' %}

{% block title %}
    {{ category.name }} - Новости ПрессРу
{% endblock title %}

{% block content %}
    <div class="card">
        <h5 class="card-header">Категория: {{ post.category }}</h5>
        <div class="card-body">
            <h5 class="card-title"> {{ post.title }}</h5>
            <p class="card-text">{{ post.content }}</p>
        </div>
        <div class="card-footer text-muted">
            {{ post.created_at|date:"Y-m-d H:i:s" }}
        </div>
    </div>
    <br>
    {% if request.user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            <div class="input-group">
                {% for f in form.visible_fields %}
                    <div class="form-group">
                        <h4><label for={{ f.id_for_label }}>{{ f.label }}</label></h4>
                        {{ f }}
                    </div>
                {% endfor %}
                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        <br>
    {% else %}
        <h4>Авторизуйтесь для написания комментария</h4>
    {% endif %}
    {% for comment in comments %}
        <br>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ comment.username }}</h5>
                <p class="card-text">{{ comment.content }}</p>
                <hr>
                <p class="card-text">{{ comment.created_at }}</p>
            </div>
        </div>
    {% endfor %}
    <br>
{% endblock content %}