{% extends 'news_app/base.html' %}

{% block title %}
    {{ category.name }} - Новости ПрессРу
{% endblock title %}

{% block sidebar %}
    <div class="col-3">
        <div class="list-group">
            <a href="{% url 'index' %}" class="list-group-item list-group-item-action">Все категории</a>
            {% for category in categories %}
                {% if category.slug == cat_selected %}
                    <a href="{{ category.get_absolute_url }}" class="list-group-item list-group-item-action active">{{ category.name }}</a>
                {% else %}
                    <a href="{{ category.get_absolute_url }}" class="list-group-item list-group-item-action">{{ category.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock sidebar %}

{% block content %}
    <div class="col-9">
        {% if news|length != 0 %}
            {% for post in news %}
                <div class="card">
                    <h5 class="card-header">Категория: {{ post.category }}</h5>
                    <div class="card-body">
                        <h5 class="card-title"> {{ post.title }}</h5>
                        <p class="card-text">{{ post.content|truncatechars:300 }}</p>
                        <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Читать далее</a>
                    </div>
                    <div class="card-footer text-muted">
                        {{ post.created_at|date:"Y-m-d H:i:s" }}
                    </div>
                </div>
                <br>
            {% endfor %}
        {% else %}
            <h1>Нет постов в этой категории</h1>
        {% endif %}
    </div>
{% endblock content %}